<a class="item" href="javascript:void(0)">
  <%= item_svg(item) %>
  <div class="item-content">
    <h3><%= item.title %></h3> - <%= item.state %> - <%= item.created_by.display_name %> - <%= time_ago_in_words(item.created_at) %> - <%= item.kind %>
  </div>

  <% item.assignees.each do |assignee| %>
    <div class="assignee"><%= assignee.display_name %></div>
  <% end %>
</a>