<% content_for :title, "#{@repository.name} · #{@repository.organization.name}" %>
<%= tabs(items: filter_tabs) %>

<ul class="items">
  <% @items.each do |item| %>
    <li class="item"><%= item.title %> - <%= item.state %> - <%= item.created_by.display_name %></li>
  <% end %>
</ul>

<div class="pagination">
  <%= paginate @items %>
</div>
