<% content_for :title, "Git" %>

<%= header(title: "Git" , items: []) %>

<div class="organizations">
  <% @organizations.each do |organization| %> 
    <img src="<%= organization.avatar_url %>">
    <p><%= organization.name %></p>
    <p><%= organization.description %></p>

    <% organization.repositories.each do |repository| %>
      <p><%= repository.name %></p>
      <p><%= repository.description %></p>
    <% end %>
  <% end %>
</div>